"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Chris Ortman"
email = "chris-ortman@uiowa.edu"

[ui]
#default-command = "log-recent"

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
log-recent = ["log", "-r", "current() & recent()"]
wut = ["log", "-r", "work()"]
#log-full = ["log", "-r", "default()"]

[revset-aliases]
# set all remote bookmarks (commits pushed to remote branches) to be immutable
# https://zerowidth.com/2025/jj-tips-and-tricks/
# 'immutable_heads()' = "builtin_immutable_heads() | remote_bookmarks()"
# 'current()' = 'coalesce(trunk(),root())::present(@) | ancestors(visible_heads() & recent(), 2)'
'work()' = 'ancestors((visible_heads() & mine()) | (mine() & bookmarks()), 3)'
'recent()' = 'committer_date(after:"1 month ago")'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

[template-aliases]
empty_commit_marker = 'label("empty", "(empty)")'
full = 'builtin_log_compact_full_description(self)'
'builtin_log_compact_full_description(commit)' = '''
if(commit.root(),
  format_root_commit(commit),
  label(
    separate(" ",
      if(commit.current_working_copy(), "working_copy"),
      if(commit.immutable(), "immutable", "mutable"),
      if(commit.conflict(), "conflicted"),
    ),
    concat(
      format_short_commit_header(commit) ++ "\n",
      separate(" ",
        if(commit.empty(), empty_commit_marker),
        if(commit.description(),
          commit.description().trim_end() ++ "\n",
          label(if(commit.empty(), "empty"), description_placeholder),
        ),
      ) ++ "\n",
    ),
  )
)
'''

[colors]
# Highlight hunks with background
"diff removed token" = { underline = false }
"diff added token" = {  underline = false }
# Alternatively, swap colors
"diff token" = { reverse = false, underline = false }

